.section {
    padding: 60px 0px 60px 0px;
    
     @include desktop {
        padding: 94px 0px 94px 0px;
    }
}

.container {
    width: 100%;
    margin: 0px auto;
    padding-right: 15px;
    padding-left: 15px;

    @include mobile {
        max-width: 480px;
    }
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
}
