.clients__title{
    @include fonts(700, 36px, 0.85, 0.03em);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
}
.clients__item {
    margin-left: 30px;
}

.clients__item:first-child {
    margin-left: 0;
}

.clients__link {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @extend %aling-list;
    justify-content: center;
    color: #afb1b8;
    outline: transparent;
    transition: var(--o-trasform-color), var(--o-transform-border);
}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.clients__icon {
    fill: currentColor;
}
